Repository adambrgmn/wp-admin-ui-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc:

{
  "concurrent": false,
  "linters": {
    "*.js": ["eslint"],
    "*.{js,json,css,md}": ["prettier --write", "git add"]
  }
}

chore: Add lint rule
  .eslintrc
Due: none

feat: Add components Button and ButtonGroup
  src/Button/Button.js
  src/Button/Button.md
  src/Button/ButtonGroup.js
  src/Button/ButtonGroup.md
  src/Button/index.js
  src/utils.js
Due: eslint, prettier --write

feat: Add component Dashicon
  src/Dashicon/Dashicon.js
  src/Dashicon/Dashicon.md
  src/Dashicon/index.js
  src/index.js
Due: eslint, prettier --write

chore: Add custom styleguide example wrapper
  styleguide.config.js
  styleguidist/Wrapper.js
Due: eslint, prettier --write

feat: Add component Link
  src/Button/Button.js
  src/Link/Link.js
  src/Link/Link.md
  src/Link/index.js
Due: eslint, prettier --write

chore: Install styled-components babel plugin
  .babelrc.js
  package.json
  yarn.lock
Due: eslint, prettier --write

feat: Add module Paragraph
  src/Link/Link.md
  src/Paragraph/Paragraph.js
  src/Paragraph/Paragraph.md
  src/Paragraph/index.js
  src/index.js
Due: eslint, prettier --write

fix: Merge ButtonGroup docs wit Button
  src/Button/Button.md
  src/Button/ButtonGroup.md
  styleguide.config.js
Due: eslint, prettier --write

chore: Load Dashicons stylesheet
  styleguide.config.js
Due: eslint, prettier --write

feat: Add Table component
  src/Link/Link.js
  src/Paragraph/Paragraph.js
  src/Table/Table.js
  src/Table/Table.md
  src/Table/index.js
  src/index.js
Due: eslint, prettier --write

chore: Preview Dashicons
  src/Button/Button.js
  src/Button/Button.md
  src/Button/ButtonGroup.md
  src/Dashicon/Dashicon.js
  src/Dashicon/Dashicon.md
Due: eslint, prettier --write

feat: Add ScreenReaderText component
  src/ScreenReaderText/ScreenReaderText.js
  src/ScreenReaderText/ScreenReaderText.md
  src/ScreenReaderText/index.js
  src/index.js
Due: eslint, prettier --write

chore: Create quick templating function
  scripts/new-component.js
Due: eslint, prettier --write

chore: Add styleguidist scripts
  package.json
Due: prettier --write

chore: Update .eslintrc
  .eslintrc
Due: none

chore: Add yarn script
  package.json
Due: prettier --write

feat: Add Notice component
  src/Notice/Notice.js
  src/Notice/Notice.md
  src/Notice/index.js
  src/index.js
Due: eslint, prettier --write

chore: Move from styleguidist to storybook
  .eslintrc
  .storybook/addons.js
  .storybook/config.js
  .storybook/preview-head.html
  package.json
  src/Button/Button.js
  src/Button/Button.md
  src/Button/Button.stories.js
  src/Button/ButtonGroup.md
  styleguide.config.js
  styleguidist/Wrapper.js
  yarn.lock
Due: eslint, prettier --write

chore: Move docs to Storybook
  .eslintrc
  src/Button/Button.js
  src/Button/Button.stories.js
  src/Dashicon/Dashicon.stories.js
  src/Link/Link.md
  src/Link/Link.stories.js
  src/Notice/Notice.js
  src/Notice/Notice.md
  src/Notice/Notice.stories.js
  src/Paragraph/Paragraph.md
  src/Paragraph/Paragraph.stories.js
  src/ScreenReaderText/ScreenReaderText.md
  src/ScreenReaderText/ScreenReaderText.stories.js
  src/index.js
  src/utils.js
Due: eslint, prettier --write

chore: Migrate docs to storybook
  src/Table/Table.md
  src/Table/Table.stories.js
Due: eslint, prettier --write

chore: Remove create-script
  package.json
  scripts/new-component.js
Due: eslint, prettier --write

chore: Add prettierrc
  .prettierrc
Due: none

fix: Minor stylistic changes
  src/Table/Table.js
Due: eslint, prettier --write

fix: Export Dashicons object
  src/Dashicon/index.js
Due: eslint, prettier --write

fix: Fix WithState props declarations
  src/utils.js
Due: eslint, prettier --write

feat: Add Postbox component
  src/Postbox/Postbox.js
  src/Postbox/Postbox.stories.js
  src/Postbox/PostboxContent.js
  src/Postbox/PostboxFooter.js
  src/Postbox/index.js
  src/index.js
Due: eslint, prettier --write

chore: Add storybook addon-notes
  .storybook/addons.js
  package.json
  yarn.lock
Due: eslint, prettier --write

docs: Initialize Storybook docs
  src/Button/Button.stories.js
  src/Button/README.md
  src/Table/Table.stories.js
Due: eslint, prettier --write

fix: Update button styles
  src/Button/Button.js
  src/Button/Button.stories.js
Due: eslint, prettier --write

fix: Update Table
  src/Table/Table.js
  src/Table/Table.stories.js
  src/Table/TableActionRow.js
  src/Table/index.js
  src/index.js
Due: eslint, prettier --write

fix: Minor stylistic fix
  src/Table/TableActionRow.js
Due: eslint, prettier --write

chore: Prepare for release
  .travis.yml
  package.json
  yarn.lock
Due: prettier --write

chore: Update .prettierrc
  .prettierrc
Due: none

docs: Update README.md
  README.md
Due: prettier --write

chore: Update dependencies
  package.json
  yarn.lock
Due: prettier --write

ci: Update CI to deploy docs
  .travis.yml
Due: none

ci: Update deploy settings
  .travis.yml
Due: none

Deploy adambrgmn/wp-admin-ui-react to github.com/adambrgmn/wp-admin-ui-react.git:gh-pages
  favicon.ico
  iframe.html
  index.html
  static/manager.4387c56b1aeb86c68336.bundle.js
  static/preview.a2c3b10f8be7b8db0c12.bundle.js
Due: eslint, prettier --write

chore: Install readme addon for Storybook
  .storybook/addons.js
  package.json
  yarn.lock
Due: eslint, prettier --write

docs: Improve Button docs
  src/Button/Button.js
  src/Button/Button.stories.js
  src/Button/ButtonGroup.js
  src/Button/README.md
Due: eslint, prettier --write
